*{

    margin: 0;

    font-family: 'Poppins', sans-serif;
    
}

html {

    width: 100%;
    height: 100%;

}

body {

    width: 100%;
    height: 100%;

}

header {

    background-color: #0cce6b;

    height: 12%;
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.blank {

    width: 5%;

}

#logo {

    height: 100%;
    width: auto;

}

.dropdown {

    height: 50%;
    width: 5%;

    position: relative;
    display: inline-block;

}

#menuButton {

    height: 100%;
    
    border: none;
    cursor: pointer;

    position: relative;
    display: inline-block;

}

#menuIcon {

    height: 100%;
    width: auto;

}

.dropdownSector {

    width: 100%;

    display: none;

    background-color: white;

}

.dropdownSector a {

    width: 100%;

    text-decoration: none;
    color: black;

    margin-bottom: 10%;

    display: block;

}

.dropdown:hover .dropdownSector {

    display: block;

}

#exit {

    height: 100%;

    display: flex;
    justify-content: center;
    
    border: none;
    cursor: pointer;

    background-color: red;

}

.content {

    width: 100%;
    height: 88%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(238, 238, 238);

}

.contentCard {
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 90%;
    width: 30%;

    padding-left: 5%;
    padding-right: 5%;

    border-radius: 5%;

    background-color: rgb(255, 255, 255);

    font-size: 1.3rem;

}

.imgPerfil_nome {

    height: 10%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 10%;

    border-bottom-color: gray;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    
}

.imgPerfil{

    height: 100%;

    margin-right: 5%;

}

#imgPerfil {

    height: 100%;

}

.infoPerfil {

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 10%;

    border-bottom-color: gray;
    border-bottom-style: solid;
    border-bottom-width: 1px;

}

#infoPerfil {

    margin-top: 10%;

}

.buttonArea{

    width: 100%;
    height: 20%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

}

a{

    width: 50%;
    height: 50%;

    display: flex;
    justify-content: center;

    text-decoration: none;
    border-radius: 2rem;
    border-style: none;

}

button{

    width: 90%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #0cce6b;

    border-radius: 2rem;
    border-style: none;

    font-size: 1rem;

}

button:hover{

    background-color: #10c266;

}
